/* CSS Document */

.header-background{
    width: 100%;
    height: 68px;
    
}

.page-background{
    width: 100%;
    background-image: url("../../Image/Background/defaultBackgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E7978E;
}

.section-style{
    width: 100%;
    height: 600px;
    background: rgba(255,255,255,0.5);
    border-top: 7px solid #ff550a;
    padding: 0;
    position: relative;
}

.sign-in-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background-color: #eee;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgba(26, 26, 26, 0.2);
    padding: 30px;
}

.sign-in-form input[type="text"], .sign-in-form input[type="password"]{
    border: 2px solid #ff550a;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    
}

.sign-in-form input[type="text"]:focus, .sign-in-form input[type="password"]:focus{
    box-shadow: 0 1px 7px rgba(26, 26, 26, 0.2);
}

.autologin-forgotpassword{
    padding: 0 3px;
    box-sizing: border-box;
}

.autologin-forgotpassword input[type="checkbox"]{
    height: 16px;
    width: 16px;
    transform: translateY(2px);
}

.autologin-forgotpassword label{
    color: #2c2c2c;
}

.autologin-forgotpassword a{
    float: right;
    color: #777;
}

.form-button{
    text-align: center;
    margin-top: 20px;
}

.form-button button{
    font-family: "Microsoft Yahei";
    display: inline-block;
    font-size: 18px;
    color: #ff550a;
    border: 2px solid #ff550a;
    padding: 5px 50px;
    border-radius: 20px;
    margin: 0 20px;
    background-color: #eee;
    transition: all 0.2s linear;
}

.form-button button:hover{
    background-color: #ff550a;
    color: #eee;
    box-shadow: 0 1px 7px rgba(26, 26, 26, 0.2);
}

.opposition{
    margin-top: 20px;
    padding: 0 3px;
    box-sizing: border-box;
}

.opposition a{
    color: #ff550a;
    font-weight: bold;
}
